body {
  background-color: #f2f2f2;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: #006837;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
@media only screen and (max-width: 520px) {
  .box {
    height: fit-content;
    width: 100%;
  }
  h1 {
    font-size: 24px;
  }
  .text-container {
    width: 100%;
  }
  label {
    width: 100%;
    margin-left: 20px;
  }
}

.text-container {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #006837;
  background-color: #f9c582;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

p {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 20px;
}

label {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  text-align: left;
  margin-left: 20px;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.box {
  height: fit-content;
  width: 100%;
}

input {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: medium;
  max-width: 480px;
  height: 64px;
  width: 90%;
  margin: 0 auto;
  border: none;
}

input::placeholder {
  color: #98a991;
}
input:placeholder-shown {
  border: none;
  color: #98a991;
}

.question {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #006837;
  background-color: #f9c582;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 120px;
  height: 120px;
  border: none;
}
